@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}

body * {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

input, button {
  padding: 0.25rem 0.5rem 0.2rem;
  margin: 0 0.25rem 0 0;
}
input {
  padding: 0.275rem 0.5rem 0.212rem;
}

.small {
  font-size: 85%;
}

.center {
  text-align: center;
}
